# Compiled Object files
*.o

# Executables
*.exe

# 3D-Data
*.ply
*.pcd

# log-file
*.log
output.txt

# cmake testing
/testing/CMakeFiles/*
/testing/CMakeCache.txt
/testing/Makefile
/testing/runTests
/testing/*cmake
